// Visually hide an element
@mixin visually-hidden() {
    position: absolute !important;
    width: 0.1rem !important;
    height: 0.1rem !important;
    overflow: hidden !important;
    padding: 0 !important;
    border-width: 0 !important;
    margin: -0.1rem !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
}

// Used for displaying visually hidden content in print
@mixin reset-visually-hidden() {
    position: relative !important;
    width: auto !important;
    height: auto !important;
    overflow: auto !important;
    margin: 0 !important;
    clip: unset !important;
    white-space: normal !important;
}
