// Fonts

// Thin
@font-face {
    font-family: 'Metric';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('fonts/sans/metric-web-thin.woff2');
}

@font-face {
    font-family: 'Metric';
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    src: url('fonts/sans/metric-web-thin-italic.woff2');
}

// Light
@font-face {
    font-family: 'Metric';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('fonts/sans/metric-web-light.woff2');
}

@font-face {
    font-family: 'Metric';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: url('fonts/sans/metric-web-light-italic.woff2');
}

// Regular
@font-face {
    font-family: 'Metric';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('fonts/sans/metric-web-regular.woff2');
}

@font-face {
    font-family: 'Metric';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url('fonts/sans/metric-web-regular-italic.woff2');
}

// Medium
@font-face {
    font-family: 'Metric';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('fonts/sans/metric-web-medium.woff2');
}

@font-face {
    font-family: 'Metric';
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    src: url('fonts/sans/metric-web-medium-italic.woff2');
}

// Semi Bold
@font-face {
    font-family: 'Metric';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('fonts/sans/metric-web-semibold.woff2');
}

@font-face {
    font-family: 'Metric';
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: url('fonts/sans/metric-web-semibold-italic.woff2');
}

// Bold
@font-face {
    font-family: 'Metric';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('fonts/sans/metric-web-bold.woff2');
}

@font-face {
    font-family: 'Metric';
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url('fonts/sans/metric-web-bold-italic.woff2');
}

// Black
@font-face {
    font-family: 'Metric';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('fonts/sans/metric-web-black.woff2');
}

@font-face {
    font-family: 'Metric';
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    src: url('fonts/sans/metric-web-black-italic.woff2');
}
